<% if message.user === current_user %>
  <div id="message-<%= message.id %>" class="message-box-right">
    <strong><%= message.user.first_name %></strong>
    <p><%= message.content %></p>
  </div>
<% else%>
  <div id="message-<%= message.id %>" class="message-box-left" style="text-align:left;">
    <strong><%= message.user.first_name %></strong>
    <p><%= message.content %></p>
  </div>
<% end %>
