<div class="container chat-new">
  <%= simple_form_for(@chatroom, html: { class: "chat-new-form" }) do |f| %>
    <div>
      <h4>Express Yourself in the Chat</h4>
      <%= f.input :name , label: " Curate Your Chat Subject" %>
      <%= label_tag "choose_recipient_label", "Pick Your Chatmate" %>
      <% User.all.each do |user| %>
        <div class="chat-radio-button">
          <%= f.radio_button :recipient_id, user.id%>
          <%= user.first_name + " " + user.last_name %>
        </div>
      <% end %>
      <%= f.button :submit, "Start Conversation", class: "btn btn-primary w-100 submit"%>
    </div>
  <% end %>
</div>
