<div class="container">
  <div class="index">
  <div class="row">
    <div class="col-12 col-lg-9 border events-left">
      <div class="events-heading border mt-3">
        <h3>Eventopia: Unleash the Experience</h3>
      </div>

      <div class="row justify-content-center">
        <div class="col-sm-8 my-3">
          <%= form_with url: city_events_path(@city), method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Type a keyword"
              %>
            <%= submit_tag "Search", name: "", class: "btn btn-secondary" %>
          <% end %>
        </div>
      </div>



      <div class="cards">
      <% @events.each do |event| %>
        <div class="card" >
          <% if event.photos.any? %>
            <%= link_to city_event_path(@city, event) do %>
              <%= cl_image_tag event.photos.last.key, class: "card-img-top event-card-img", alt: event.name %>
            <% end %>
          <% else %>
            <!-- Display a placeholder image or default image if no photos are available -->
          <%= image_tag "placeholder.jpg", class: "card-img-top", alt: "Placeholder Image" %>
          <% end %>

          <div class="card-body">
            <h5 class="card-title"><%= event.name %></h5>
            <p class="card-text"><i class="fa-solid fa-location-dot"></i> <%= event.address %></p>
          </div>

          <div class="icon-actions">
            <a href=<%= edit_city_event_path(@city, event) %>><i class="fa-solid fa-pen-to-square"></i></a>
            <a href=<%= event_path(event) %>><i class="fa-solid fa-trash-can"></i></a>
          </div>

        </div>
      <% end %>
    </div>

    </div>

    <div class="col-12 col-lg-3 border events-right">
      <div class="event-options">
        <div class="favorite-events border">
          <h5>Discover Your Event Favorites. Dive In!</h5>
          <i class="fa-brands fa-gratipay fa-beat"></i></i> <%= link_to 'My Favorite Events', favorite_events_path %>
        </div>
        <div class="new-event border">
          <h5>Expand the Excitement: Add a New Event to the Lineup!</h5>
          <i class="fa-regular fa-square-plus fa-beat"></i></i> <%= link_to 'Add New Event', new_city_event_path %>
        </div>
      </div>

      <div class="city-info border">
        <%= link_to city_path(@city) do %>
          <%= cl_image_tag @city.photo.key, class: "card-img-top", alt: @city.name %>
        <% end %>
        <div class="city-name-description">
          <h5><%= @city.name %></h5>
          <p><%= @city.description %></p>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
