<div>
<h1>Event Index Page</h1>
<% @events.each do |event| %>
  <% event.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <h5><strong><%= event.name %></strong></h5>
  <p><%= event.description %></p>
  <p><%= event.website_url %></p>
  <p><%= event.date %></p>
  <p><%= event.address %></p>
  <p><%= event.phone_number %></p>
  <p><%= event.start_time %></p>
  <%= link_to "Update Event",
      edit_city_event_path(@city, event),
      class: "btn btn-secondary"
  %>
  <%= link_to "Delete Event",
      event_path(event),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
      class: "btn btn-danger"
  %>
<% end %>
 <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY']%>">
  </div>
</div>
