<h1>Add new Event</h1>
<%= simple_form_for([@city, @event], html: { class: "new-form" }) do |f|%>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :website_url %>
  <%= f.input :date %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :start_time %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.button :submit, "Add event", class: "btn btn-primary w-100 new-form-submit"%>
<% end %>
