<div class="banner" style="background-image: url('<%= cl_image_path("banner-1_dqvkyy") %>');background-position: center bottom;">
  <div class="container">
    <h1 class="culture-comb">CultureComb</h1>
    <p class= "slogan">Discover the best of your new city</p>
  </div>
</div>

</div>
<div class="description-section">
  <div class="container">
    <div class="card-description">
      <div class="card-body">
        <h1>CultureComb</h1>
        <p>CultureComb is designed to help expats feel at home in their new city. As an expat, it can be overwhelming to navigate a new city. But with CultureComb, you'll have access to the latest information and attractions, making it easy for you to immerse yourslef in your new home. Discover hiden gems in any city with CultureComb.</p>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="city-section">
  <div class="container city-card">
    <h1>Cities</h1>

      <div class="cards overflow-hidden mb-5 mt-5 border-0 ">

      <% @cities.each do |city| %>
        <%= link_to city_communities_path(city) do%>
        <% if city.photo.attached? %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path city.photo.key, height: 300, crop: :fill %>')">
          <%= city.name %>
          </div>
        <% else %>
        <div class="card-category" style="background-color: gray">
          <%= city.name %>
          </div>
        <% end %>
        <% end %>
      <% end %>
      </div>
 </div>
</div>

<div class="attraction-section">
  <div class="container">
    <h1>Attractions</h1>
    <div class="card-group gradient">
        <div class="card" style="border:0 ; height:100%" >
          <img class="image" src="https://images.unsplash.com/photo-1533285860212-c85e7140a408?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1753&q=80" alt="">
          <div class="card-body">
            <h4 class="card-title">Attraction name</h4>
            <p class="card-text"><i class="fa-solid fa-location-dot "></i>Attraction address</p>

          </div>
        </div>
        <div class="card" style="border:0 ; height:100%" >
          <img class="image" src="https://images.unsplash.com/photo-1555881400-89d5a9c86668?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2532&q=80" alt="">
          <div class="card-body">
            <h4 class="card-title">Attraction name</h4>
            <p class="card-text"><i class="fa-solid fa-location-dot"></i>Attraction address</p>
          </div>
        </div>
        <div class="card" style="border:0 ; height:100%" >
          <img class="image" src="https://images.unsplash.com/photo-1577958194277-7b3bc213b03c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1630&q=80" alt="">
          <div class="card-body">
            <h4 class="card-title">Attraction name</h4>
            <p class="card-text"><i class="fa-solid fa-location-dot"></i>Attraction address</p>
          </div>
        </div>
        <div class="card" style="border:0 ; height:100%" >
          <img class="image" src="https://images.unsplash.com/photo-1602264889563-48d525636172?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2532&q=80" alt="">
          <div class="card-body">
            <h4 class="card-title">Attraction name</h4>
            <p class="card-text"><i class="fa-solid fa-location-dot"></i>Attraction address</p>

          </div>
        </div>
    </div>
  </div>
</div>
<%# <div class="attraction-section">
  <div class="container">
    <h1>Attractions</h1>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2>Product name</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>

    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2>Product name</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>

    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2>Product name</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>
  </div>
</div> %>
