<div class="edit-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
        url('<%= cl_image_path(@city.photo.key) %>');">
  <div class="container">
    <div class="edit-form-heading mt-3">
      <h3>Revamp and Engage: Edit Your Post!</h3>
    </div>
    <%= simple_form_for([@city, @post], html: { class: "edit-form" }) do |f|%>
      <%= f.input :title %>
      <%= f.input :content %>
      <%= f.input :website_url %>
      <%= f.input :photo, label: "Upload Image", as: :file %>
      <%= f.button :submit, "Update post", class: "btn btn-primary w-100 edit-form-submit"%>
    <% end %>
  </div>
</div>
