<div class="container">
  <div class="index">
  <div class="row">
    <div class="col-12 col-lg-9 border events-left">
      <div class="events-heading border mt-3">
        <h3>Eventopia: Unleash the Experience</h3>
      </div>

      <div class="cards">
      <% @posts.each do |post| %>
        <div class="card" >
          <% if post.photo.present? %>
            <%= link_to city_community_post_path(@city, @community, post) do %>
              <%= cl_image_tag post.photo.key, class: "card-img-top event-card-img", alt: post.title %>
            <% end %>
          <% else %>
            <!-- Display a placeholder image or default image if no photos are available -->
          <%= image_tag "placeholder.jpg", class: "card-img-top", alt: "Placeholder Image" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>
            <p class="card-text"> <%= post.content %></p>
          </div>

          <div class="icon-actions">
            <a href=<%= edit_city_post_path(@city, post) %>><i class="fa-solid fa-pen-to-square"></i></a>
            <%= link_to post_path(post),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
              class: "delete-rs-button" do %>
              <i class="fa-solid fa-trash-can"></i>
            <% end %>
          </div>

        </div>
      <% end %>
    </div>

    </div>

    <div class="col-12 col-lg-3 border events-right">
      <div class="event-options">
        <div class="favorite-events border">
          <h5>Expand the Excitement: Add a New Post to the Lineup!</h5>
          <%= render "new" %>
        </div>
        <div class="new-event border">
          <h5>Ready to Chat? Share Your Ideas!</h5>
          <i class="fa-solid fa-comments fa-beat"></i> <%= link_to 'Start Conversation', chatrooms_path %>
        </div>
      </div>

      <div class="city-info border">
        <%= link_to city_community_path(@city, @community) do %>
          <%= cl_image_tag @city.photo.key, class: "card-img-top", alt: @city.name %>
        <% end %>
        <div class="city-name-description">
          <h5><%= @city.name %></h5>
          <p><%= @city.description %></p>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
