<h1>City Show Page</h1>

<div class="container">
  <%= cl_image_tag @city.photo.key, height: 300, width: 400, crop: :fill %>
  <h1 class="city-name"><%= @city.name%></h1>
  <p><%= @city.description%></p>
  <%= link_to "Edit City",
    edit_city_path(@city),
    class: "btn btn-secondary"
  %>
  <%= link_to "Delete City",
    city_path(@city),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
    class: "btn btn-danger"
  %>
</div>
