<%# 4 sections
    ✅ Banner, with city name on it
    - attractions of the city
    - events happeing in the city
    - posts of the city %>

<%# Banner section %>
<div class="city-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
      url('<%= cl_image_path(@city.photo.key) %>');">
  <div class="container">
    <h1 class="city-name"><%= @city.name%></h1>
    <p class="city-name"><%= @city.description%></p>
  </div>
</div>

<%# Attractions section %>
<div class="city-attraction">
  <section class="pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h3 class="mb-3">Attractions</h3>
        </div>
        <div class="col-12">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <% @attractions.each_slice(3).with_index do |attractions_slice, index| %>
                <div class="carousel-item <%= 'active' if index == 0 %>">
                  <div class="row">
                    <% attractions_slice.each do |attraction| %>
                      <div class="col-md-4 mb-3">
                        <div class="card">
                          <%= cl_image_tag attraction.photo.key, class: "img-fluid", alt: attraction.name %>
                          <div class="card-body">
                            <h4 class="card-title"><%= attraction.name %></h4>
                            <p class="card-text"><%= attraction.description %></p>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<%# Events section %>
<div class="city-event">
  <div class="container">
    <h1>Events</h1>
    <div class="card-group">
      <% @events.each do |event| %>
        <div class="card">
          <% if event.photos.any? %>
            <%= cl_image_tag event.photos.first.key, class: "card-img-top", alt: event.name %>
          <% else %>
            <!-- Display a placeholder image or default image if no photos are available -->
            <%= image_tag "placeholder.jpg", class: "card-img-top", alt: "Placeholder Image" %>
          <% end %>
          <div class="card-body">
            <h4 class="card-title"><%= event.name %></h4>
            <p class="card-text"><i class="fa-solid fa-location-dot"></i> <%= event.address %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%# Posts section %>
<div class="container city-post">

  <div class="col-9">
    <div class="accordion" id="accordionExample">
      <% @posts.each do |post| %>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <%= post.title %>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="card mb-3" style="max-width: inherit; max-height: 200px">
              <div class="row g-0">
                <div class="col-md-2">
                  <%= cl_image_tag post.photo.key, class: "img-fluid", alt: post.title %>
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title"><%= post.title %></h5>
                    <p class="card-text"><%= post.content %></p>
                    <p class="card-text"><%= post.website_url %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>

      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <%= cl_image_tag @city.photo.key, height: 300, width: 400, crop: :fill %>
  <h1 class="city-name"><%= @city.name%></h1>
  <p><%= @city.description%></p>
  <%= link_to "Edit City",
    edit_city_path(@city),
    class: "btn btn-secondary"
  %>
  <%= link_to "Delete City",
    city_path(@city),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
    class: "btn btn-danger"
  %>
</div>
