<div class="attractions-index">
  <div class="container mt-5 mb-5">
    <div class="row" style="padding: 20px;">
      <div class="col-12 col-sm-9 attraction-left">
        <h3 class="attraction-index-title">Unveiling the Wonders: Explore All Attractions</h3>
        <div class="cards">
          <% @attractions.each do |attraction| %>
            <div class="card" >
              <%= cl_image_tag attraction.photo.key, class: "attraction-card-img", alt: attraction.name%>
              <div class="card-body">
                <h4 class="card-title"><%= attraction.name %></h4>
                <p class="card-text"><i class="fa-solid fa-location-dot"></i> <%= attraction.address %></p>
                <p class="card-text"><i class="fa-solid fa-clock"></i> <%= attraction.opening_hours %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-12 col-sm-3 border attraction-right">
        <div class="city-info border">
            <%= link_to city_path(@city) do %>
              <%= cl_image_tag @city.photo.key, class: "card-img-top", alt: @city.name %>
            <% end %>
            <div class="city-name-description">
              <h5><%= @city.name %></h5>
              <p><%= @city.description %></p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
