<div>
<h1>Attractions Index Page</h1>
<% @attractions.each do |attraction| %>
  <%= cl_image_tag attraction.photo.key, height: 300, width: 400, crop: :fill %>
  <h5><strong><%= attraction.name %></strong></h5>
  <p><%= attraction.description %></p>
  <p><%= attraction.address %></p>
  <p><%= attraction.opening_hours %></p>
  <p><%= attraction.website_url %></p>
  <%= link_to "Update attraction",
      edit_city_attraction_path(@city, attraction),
      class: "btn btn-secondary"
  %>
  <%= link_to "Delete Attraction",
      attraction_path(attraction),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
      class: "btn btn-danger"
  %>
<% end %>
 <div style="width: 80%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY']%>">
  </div>
</div>
