<h1>Attractions New Page</h1>
<%= simple_form_for([@city, @attraction], html: { class: "new-form" }) do |f|%>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.input :opening_hours %>
  <%= f.input :website_url %>
  <%= f.button :submit, "Add attraction", class: "btn btn-primary"%>
<% end %>
