<div class="container show-form">
  <div class="show-form-heading mt-3">
    <h3>Refresh City's Charm</h3>
  </div>
  <div class="row">
    <div class="col-12 col-lg-7">
      <%= cl_image_tag @attraction.photo.key, class: "img-fluid show-form-img", alt: @attraction.name %>
    </div>
    <div class="col-12 col-lg-5">
      <div class="border-bottom mt-3 mb-3">
        <h2 class="name-show mt-3"><%= @attraction.name %></h2>
        <h4 class="address-show"> <i class="fa-solid fa-location-dot"></i> <%= @attraction.address %> </h4>
        <h5 class="info-show"> </i> <%= @attraction.opening_hours %>  </h5>
      </div>

      <div class="border-bottom mt-3 mb-3 info-show">
        <p> <%= @attraction.website_url %> </p>
      </div>

      <div class="border-bottom mt-3 mb-3 description-show">
        <p> <%= @attraction.description %> </p>
      </div>
    </div>
  </div>

  <div class="show-map-section">
    <div class="container">
      <div class="map-show"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY']%>">
      </div>
    </div>
  </div>

</div>
